.queue {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  @media only screen and (max-width: 768px) {
    font-size: .9em;
  }

  > span {
    margin: 5px;
    font-size: 2em;
    align-self: center;
  }

  .add {
    height: 40px;
    display: flex;
    margin: 0 3px 5px 0;
    padding: 0 5px 5px 5px;
    position: relative;

    @media only screen and (max-width: 1024px) {
      margin: 5px 3px;
    }

    &::after {
      content: '';
      position: absolute;
      border-bottom: 1px solid black;
      width: 0;
      left: 50%;
      bottom: 0;
      transition: .2s ease-in-out;
    }

    &:focus-within::after {
      width: 100%;
      left: 0;
    }

    &.fetching::after {
      animation: fetching 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;

      @keyframes fetching {
        0% { left: 0; width: 0; }
        50% { left: 25%; width: 75%; }
        100% { left: 100%; width: 0; }
      }
    }

    input {
      font-weight: 400;
      font-size: 1.3em;
      line-height: normal;
      background: transparent;
      flex-grow: 1;
      border: none;
      outline: none;

      &::placeholder {
        font-weight: 300;
        font-size: 1.1em;
        color: #101010;
      }

      &:focus + img.search {
        opacity: 0;
      }
    }

    img {
      width: 24px;
      height: 24px;
      align-self: center;

      &.search {
        width: 28px;
        height: 28px;
        transition: opacity .2s ease-in-out;
        opacity: 1;
      }

      &.clear {
        transition: transform .2s ease-in-out;
        cursor: pointer;

        &:hover {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .list {
    max-height: 60vh;
    font-size: 1.1em;
    overflow: hidden scroll;

    &::-webkit-scrollbar {
      width: 3px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: black;
    }
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
    padding: 50px 0px;
    text-align: center;
  }

  .video {
    height: 66px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    margin-bottom: 5px;
    background: var(--color-background);
    touch-action: auto !important;
    outline: none;
    box-sizing: border-box;

    &:hover {
      .right img {
        opacity: 1;
      }
    }

    &:nth-child(odd) {
      background: #dadada;
    }

    &.dragged {
      font-size: 1.1em;
      background: white;
    }

    &.invert {
      background: #101010;
      color: white;
      font-weight: 300;

      img {
        filter: invert(1);
      }
    }

    &.search {
      cursor: pointer;

      @media only screen and (min-width: 768px) {
        &:hover {
          font-weight: 300;
          cursor: pointer;
          background: #101010;
          color: white;
        }
      }

      .right span:last-of-type {
        font-size: .7em;
        text-align: center;
        white-space: break-spaces;
      }
    }

    &.added {
      font-weight: 300;
      cursor: pointer;
      background: #101010;
      color: white;
      transition: .2s;

      .thumbnail img:last-of-type {
        opacity: .9;
      }
    }

    .info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-around;
      margin: 0px 5px;
      align-self: normal;
      overflow: hidden;

      span {
        text-overflow: ellipsis;
        overflow: hidden;

        &:first-of-type {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        &:last-of-type {
          font-size: .9em;
        }
      }
    }

    .thumbnail {
      position: relative;
      cursor: pointer;

      img {
        display: block;

        &:first-of-type {
          filter: none;
        }

        &:last-of-type {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;

          &:hover {
            opacity: .6;
          }
        }

        &:hover + img:last-of-type {
          opacity: .6;
        }
      }
    }

    .move {
      min-width: 5px;
      padding: 0px 12px;
      font-size: 0;
      cursor: pointer;
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-width: 36px;
      height: 100%;

      img {
        margin-top: 2px;
        opacity: 0;
        cursor: pointer;
        transition: opacity .1s ease-in-out;
      }

      span {
        font-size: 0.8em;
      }
    }
  }
}
